body {
    color: #000000;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Tajawal', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
  background-color: #000000;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    color: #FFFFFF;
}

h1 {
    font-size: 33px;
    margin: 0;
}

.intro {
    font-size: 20px;
}

.tech > * {
    display: inline-block;
}

.tech > *:not(:last-child) {
    margin-right: 5px;
}

.tech > *:not(:last-child)::after {
    content: ", ";
}

.tech-major {
    font-size: 30px;
}

.tech-minor {
    font-size: 20px;
}

main {
    padding: 20px 0 10px 0;
    display: grid;
    grid-template-columns: 20px auto 20px;
}

main > :nth-child(2) {
  background-color: lightgray;
}

main > section {
    grid-column: 2 / 3;
}

.skills {
    margin-bottom: 0;
}

#portfolio > .project:nth-of-type(odd) {
  background-color: lightgray;
}

#portfolio .image {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  border: 1px solid black;
}