:root {
    --grid-space: 20px;
    --header-font-size: 24px;
    --ryan-font-size: 33px;
    --main-font-size: 17px;
}

* {
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: 'Tajawal', sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    font-size: var(--main-font-size);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
  background-color: #000000;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    color: #FFFFFF;
}

h1 {
    font-size: var(--ryan-font-size);
    margin: 0;
}

h2 {
    font-size: var(--header-font-size);
}

.intro {
    font-size: var(--header-font-size);
}

main {
    padding: 20px 0;
}

main > section {
    display: grid;
    grid-template-columns: var(--grid-space) auto var(--grid-space);
    grid-row-gap: 9px;
}

main > section:not(:last-child) {
    margin-bottom: 20px;
}

main > section > * {
    grid-column: 2 / 3;
}

main > section > p {
    margin: 0;
}

.tech {
    background-color: #000000;
    color: #FFFFFF;
    grid-column: 1 / -1;
    text-align: center;
}

.tech > *:not(:last-child)::after {
    content: ", ";
}

.tech-main-list > * {
    display: inline-block;
}

.tech-main-list > *:not(:last-child) {
    margin-right: 5px;
}

.tech-secondary-list > * {
    display: inline;
}

.tech-major {
    font-size: var(--ryan-font-size);
}

.tech-minor {
    font-size: calc(.606 * var(--ryan-font-size));
}

#portfolio .image {
  width: 100%;
}

.project:not(:first-of-type) {
    margin-top: 20px;
}

.project:nth-of-type(odd) .project-container {
    border-left: 15px solid #000000;
    padding-left: 15px;
}

.project:nth-of-type(even) .project-container {
    border-right: 15px solid #000000;
}

.project-container p {
    margin-top: 5px;
    margin-bottom: 5px
}

}

.combine > * {
    display: inline;
    margin: 0;
}

.buttonize {
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

.social > a {
    color: #000000;
}

@media only screen and (min-width: 321px) {
    :root {
        --grid-space: calc(20px + (320 - 20) * ((100vw - 320px) / (1440 - 320)));
        --ryan-font-size: calc(33px + (50 - 33) * ((100vw - 320px) / (1440 - 320)));
        --header-font-size: calc(24px + (35 - 24) * ((100vw - 320px) / (1440 - 320)));
        --main-font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media only screen and (min-width: 1441px) {
    :root {
        --grid-space: 320px;
        --ryan-font-size: 50px;
        --main-font-size: 22px;
        --header-font-size: 35px;
    }
}